/*
  Modified code from
  https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/autohide-info-icon.css
*/

/* Reverses */
#identity-box {
	-moz-box-direction: reverse;
  outline: none !important;
}

/* Not to look too dense */
#identity-icon {
  -moz-margin-start: 0 !important;
}

/* Space between identity icon label and lock */
#connection-icon {
  margin-inline-start: 2px !important;
}

/* More nice */
#identity-icon-labels {
	padding-left: 0px !important;
}

#tracking-protection-icon-container {
  border: none !important;
}

#tracking-protection-icon { 
  margin-inline-start: 0 !important;
}

#identity-box:not([open=true]),
#tracking-protection-icon-container:not([open=true]) {
  visibility: collapse !important;
}

#urlbar-input-container:hover > #identity-box,
#urlbar-input-container:hover > #tracking-protection-icon-container {
  visibility: visible !important;
}

#identity-box[open ~= "true"], 
#tracking-protection-icon-container[open ~= "true"],
#tracking-protection-icon-container[open ~= "true"] + * {
  visibility: visible !important;
}

