/* Also, this looks more nice without window corner buttons */
/* And more nice when you disabled all possible buttons on customization page */

/* Close button disabling */
.tab-close-button {
	display: none !important;
}

/* Disabling forward-backward buttons */
#back-button, #forward-button {
	display: none !important;
}

/* Disable "Switch to tab" before utl bar text */
#urlbar-display-box {
	display: none !important;
}

/* No more buttons in end of url bar for except of zoom factor */
#pocket-button-box, #pageActionButton, 
#reader-mode-button, #contextual-feature-recommendation {
	display: none !important;
}

/* Disables down arrow */
#nav-bar #urlbar .urlbar-textbox-container .urlbar-history-dropmarker {
	display: none !important;
}

/* I don't want to see this line, but it's more comfortable to put elements after */
#pageActionSeparator {
	visibility: hidden !important;
	margin: 0 !important;
}

/* I don't need it, plus it takes more height */
#wrapper-alltabs-button, #alltabs-button {
	display: none !important;
}

/* Zoom button */
#urlbar-zoom-button {
	display: none !important;
}

/* Disables search icon on left of url bar */
#urlbar[pageproxystate="invalid"] > #identity-box > #identity-icon {
	display: none !important;
}

#urlbar[pageproxystate="invalid"] > #identity-box {
	padding: 0 !important;
	height: 20px !important;
}


/* Disables left arrow after url bar */
.urlbar-go-button, .search-go-button {
	display: none !important;
}

/* Hides stars of only unfavored pages */
#star-button:not([starred]) {
	display: none !important;
}

#nav-bar #PanelUI-button .toolbarbutton-badge-stack {
	padding: 2px !important;
}

#identity-box {
	padding-left: 4px !important;
	margin: -3 0 !important;
	border: none !important;
}

findbar toolbarbutton.close-icon {
	display: none !important;
}