findbar {
	background: var(--background) !important;
	border: none !important;
}

.findbar-container hbox * {
	border: none !important;
	background: transparent !important;
}

findbar .findbar-container {
	padding: 0 10px !important;
}

findbar toolbarbutton {
	padding: 0 !important;
}

findbar .tabbable {
	padding: 0 4px !important;
}

findbar .textbox-input {
	color: var(--tab-color-hover) !important;
}