#tabbrowser-tabpanels findbar {
	background: var(--background-first) !important;
	border: none !important;
}

#tabbrowser-tabpanels .findbar-container hbox * {
	border: none !important;
	background: transparent !important;
}

#tabbrowser-tabpanels findbar .findbar-container {
	padding: 0 10px !important;
}

#tabbrowser-tabpanels findbar toolbarbutton {
	padding: 0 !important;
}

#tabbrowser-tabpanels findbar .tabbable {
	padding: 0 4px !important;
}

#tabbrowser-tabpanels findbar .textbox-input {
	color: var(--tab-color-hover) !important;
}

#tabbrowser-tabpanels findbar .findbar-textbox {
	background: var(--background-second) !important;
	border-radius: 0 !important;
/* Makes smallest possible size */
/* 	padding: 0 !important; */
}