/*
	Modified code from
	https://github.com/Timvde/UserChrome-Tweaks/blob/master/hamburger/move-to-top-left-Linux-Windows.css
*/

#PanelUI-button {
  -moz-box-ordinal-group: 0;
  border-left: none !important;
  position: absolute; 
}

#PanelUI-button {
/* For nice display */
  margin-top: -23px;
/* For hot spot */
  margin-top: -25px;
}

/* For hot spot */
#PanelUI-button .toolbarbutton-badge-stack {
  border-radius: 0 !important;
  border-bottom-right-radius: var(--toolbarbutton-border-radius) !important;
}

#PanelUI-menu-button {
  padding: 0 !important;
}

#TabsToolbar {
  /* Ensure the padding is always present even when maximized */
  padding-inline-start: 22px !important;
}
