/*
	Modified code from
	https://github.com/Timvde/UserChrome-Tweaks/blob/master/hamburger/move-to-top-left-Linux-Windows.css
*/

#PanelUI-button {
  -moz-box-ordinal-group: 0;
  position: absolute;
}

/* For hot spot */
#PanelUI-button .toolbarbutton-badge-stack {
  border-radius: 0 !important;
  border-bottom-right-radius: var(--toolbarbutton-border-radius) !important;
}

#PanelUI-menu-button {
  padding: 0 !important;
}

#nav-bar #PanelUI-button .toolbarbutton-badge-stack {
	padding: 0 !important;
}

#TabsToolbar {
  /* Ensure the padding is always present even when maximized */
  padding-inline-start: 16px !important;
}

/* Set tab bar's opposite height */
#PanelUI-button {
	margin-top: -18px !important;
}
