/*
  Modified code from
  https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/move-identity-lock-right.css
*/

#PopupAutoCompleteRichResult .autocomplete-richlistitem {
  padding-inline-start: var(--item-padding-end) !important;
}

#urlbar > #identity-box {
  -moz-box-ordinal-group: 99 !important; /* Move identity box to the end */
  margin-inline-end: 0em !important; /* Remove the end margin */
}
