#urlbar {
	margin:0 !important;
	background-color: transparent !important;
	border-radius: 1em !important;
	border: none !important;
	background: var(--background-second) !important; 
}

#nav-bar {
	background: var(--background-first) !important;
	padding: var(--nav-bar-padding) !important;
}

/* Next rules decreases nav bar's height */
#nav-bar #PanelUI-button .toolbarbutton-badge-stack {
	padding: 2px !important;
}
#identity-box {
	height: 20px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
	margin-right: 2px !important;
}
#urlbar {
	min-height: 20px !important;
	height: 20px !important;
}

/* Disables line between the nav bar and bookmark toolbar */
#navigator-toolbox::after {
	border-bottom: none !important;
}

/* Disables line between tab bar and nav bar */
#navigator-toolbox {
	--tabs-border-color: transparent !important;
}
