#urlbar {
	margin:0 !important;
	background-color: transparent !important;
	border-radius: var(--url-bar-rounding) !important;
	border: none !important;
	background: var(--background-second) !important;
	margin: var(--url-bar-margin) !important;
	padding-left: calc(var(--url-bar-rounding) / 3) !important;
}

#nav-bar {
	background: var(--background-first) !important;
}

/* Next rules decreases nav bar's height */
#nav-bar #PanelUI-button .toolbarbutton-badge-stack {
	padding: 2px !important;
}
#identity-box {
	height: 20px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}
#urlbar {
	min-height: 20px !important;
	height: 20px !important;
}

/* Disables line between the nav bar and bookmark toolbar */
#navigator-toolbox::after {
	border-bottom: none !important;
}

/* Disables line between tab bar and nav bar */
#navigator-toolbox {
	--tabs-border-color: transparent !important;
}

:root {
	--toolbarbutton-inner-padding: 0 !important;
}

#tracking-protection-icon-container {
  padding: 0 !important;
}

#identity-box {
	padding: 0 !important;
	margin: 0 !important;
}

#urlbar-container {
	margin: 0 !important;
	padding: 0 !important;
}

#urlbar > .urlbarView {
	--item-padding-start: 0 !important;
}

#urlbar-results > * {
	padding: 0 !important;
}

#urlbar-results {
	padding: 0 !important;
}

#urlbar-results > div > span {
	padding: 0 !important;
  align-items: start !important;
	display: inline !important;
}

#urlbar-results > div > span > span {
	display: inline !important;
}

#urlbar > .urlbarView > .search-one-offs {
	padding: 0 !important;
}
