#appcontent browser {
	margin-bottom: var(--scroll-bar-remove) !important;
	margin-right: var(--scroll-bar-remove) !important;
}

findbar {
	padding-top: 12px !important;
}

#sidebar-splitter[ordinal="3"] {
	margin-left: var(--scroll-bar-height); 
}

#sidebar-box[ordinal="4"] {
	padding-left: var(--scroll-bar-height) !important;
}