/* This file and idea are dead. If you want, take it */

#appcontent browser {
	margin-bottom: var(--scroll-bar-remove) !important;
	margin-right: var(--scroll-bar-remove) !important;
}

#sidebar-box[ordinal="4"] ~ #sidebar-splitter {
	margin-left: var(--scroll-bar-height);
}

#sidebar-box[ordinal="4"] {
	padding-left: var(--scroll-bar-height) !important;
}
