/* 
  Modified code from
  https://github.com/Timvde/UserChrome-Tweaks/blob/master/toolbars/show-bookmarks-only-on-newtab.css
*/

#main-window #PersonalToolbar {
  visibility: collapse !important;
}

/* I need to use absolute values to prevent "jump" of homepage image */
#main-window[title^="about:newtab"] #PersonalToolbar,
#main-window[title^="New Tab"] #PersonalToolbar,
#main-window[title^="Nightly"] #PersonalToolbar,
#main-window[title^="Mozilla Firefox"] #PersonalToolbar,
#main-window[title^="Firefox"] #PersonalToolbar,
#main-window[title^="新标签页"] #PersonalToolbar {
  position: absolute;
  top: 45px; /* Place here your navigator-toolbox height */
  width: 100%; /* Because of absolution line becumes "cut" */
  visibility: visible !important;
  background-color: transparent !important;
}
