/* Color */
/* ===== */
/* Disables tabs' background color and tab line */
#tabbrowser-tabs .tab-background {
	display: none !important;
}

/* Text color transition */
#tabbrowser-tabs .tabbrowser-tab[selected="true"]. {
/* 	color: var(--tab-color-active) !important; */
	background: var(--tab-active-background) !important;
	border-top-left-radius: var(--tab-active-rounding) !important;
	border-top-right-radius: var(--tab-active-rounding) !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([selected]):hover {
	color: var(--tab-color-hover) !important;
}
#tabbrowser-tabs .tabbrowser-tab:not([selected]) {
	color: var(--tab-color-inactive) !important;
}
#tabbrowser-tabs .tabbrowser-tab[pending] {
	color: var(--tab-color-pending) !important;
}

#TabsToolbar {
	background: var(--background-second) !important;
}

#tabbrowser-tabs .tabbrowser-tab[multiselected]:-moz-lwtheme {
	color: var(--tab-color-active) !important;
	background: var(--tab-select-background) !important;
}


/* Misc */
/* ==== */
/* Remove borders from inactive tabs */
#tabbrowser-tabs .tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

/* Removes space at the beginning and at the end of tab bar */
#tabbrowser-tabs .titlebar-spacer {
	display: none !important;
}

/* Favicons rounding */
#tabbrowser-tabs .tab-icon-image {
	border-radius: 50% !important;
}
/* Remove borders from active tab and below tabs */
:root {
	--tabs-border: transparent !important;
}

/* Now you can have tab with width of window */
/* But you shouldn't make this with Default theme */
/* Disable it, if you want default tab width */
#tabbrowser-tabs > arrowscrollbox > .tabbrowser-tab {
	max-width: var(--max-tab-width) !important;
}

#TabsToolbar .private-browsing-indicator {
/* Looks more nice */
	margin: 0 !important;
	height: 16px !important;
	width: 16px !important;;
	background-size: 16px !important;
}

#window-controls {
/* In Linux builds Firefox place window layout buttons of Windows 10 windows */
	display: none;
}


/* Mimimizing */
/* ==========*/
:root {
	--tab-min-height: 18px !important;
}
/* Tabs looks some more decent without next */
#tabbrowser-tabs .tabbrowser-tab .tab-label {
	line-height: 1em !important;
}
/* If you enable one above, enable one below */
#tabbrowser-tabs .tabbrowser-tab .tab-text {
	margin-bottom: 0px !important;
}

#tabbrowser-tabs .tabbrowser-tab .tab-icon-image {
	margin-top: 0px !important;
}

/* No horizontal tab padding, you shouldn't do this */
#tabbrowser-tabs .tabbrowser-tab .tab-content {
	padding: 0 !important;
	max-height: 16px !important;
}

/* When you close browser, node doesn't deletes, just removes fadein attr */
/* Next is to prevent having empty space of closed tab */
#tabbrowser-tabs .tabbrowser-tab:not([fadein="true"]) {
	display: none !important;
}

/* Disables white separator of tab bar arrows */
#tabbrowser-tabs .arrowscrollbox-overflow-end-indicator,
#tabbrowser-tabs .arrowscrollbox-overflow-start-indicator {
	display: none !important;
}

/* Change it, as you wish */
#tabbrowser-tabs .scrollbutton-up, .scrollbutton-down {
	padding: 0 !important;
}

/* Without it will be gap between right arrow and browser's right border */
#TabsToolbar .titlebar-buttonbox-container, #titlebar .titlebar-buttonbox-container {
	display: none !important;
}

#TabsToolbar > .titlebar-spacer {
	display: none !important;
}
