/* Color */
/* ===== */
/* Disables tabs' background color and tab line */
.tab-background {
	display: none !important;
}

/* Text color transition */
.tabbrowser-tab[selected="true"] {
	color: var(--tab-color-active) !important;
	background: var(--tab-active-background) !important;
	border-top-left-radius: var(--tab-active-rounding) !important;
	border-top-right-radius: var(--tab-active-rounding) !important;
}
.tabbrowser-tab:not([selected]):hover {
	color: var(--tab-color-hover) !important;
}
.tabbrowser-tab:not([selected]) {
	color: var(--tab-color-inactive) !important;
}
.tabbrowser-tab[pending] {
	color: var(--tab-color-pending) !important;
}

#TabsToolbar {
	background: var(--background-second) !important;
}


/* Misc */
/* ==== */
/* Remove borders from inactive tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

/* Removes space in the beginning and end of tab bar */
.titlebar-spacer {
	display: none !important;
}

/* Favicons rounding */
.tab-icon-image {
	border-radius: 50% !important;
}
/* Remove borders from active tab and below tabs */
:root {
	--tabs-border: transparent !important;
}

/* Not you can have tab with width of window */
/* But you shouldn't make this with Default theme */
/* Disable it, if you want default tab width */
.tabbrowser-tab {
/* 	max-width: var(--max-tab-width) !important; */
}


/* Minimizing */
/* ==========*/
:root {
	--tab-min-height: 20px !important;
}
/* Tabs looks some more decent without next */
.tab-label {
/* 	line-height: 1em !important; */
}
/* If you enable one above, enable one below */
.tab-text {
/* 	margin-bottom: 1px !important;  */
}

/* No horizontal tab padding, you shouldn't do this */
.tab-content {
/* 	padding: 0 !important; */
}

/* When you close browser, node doesn't deletes, just removes fadein attr */
/* Next is to prevent having empty space of closed tab */
.tabbrowser-tab:not([fadein="true"]) {
	display: none !important;
}

/* Disables white separator of tab bar arrows */
.arrowscrollbox-overflow-end-indicator, .arrowscrollbox-overflow-start-indicator {
	display: none !important;
}

/* Change it, as you wish */
.scrollbutton-up, .scrollbutton-down {
	padding: 0 !important;
}

/* Without it will be gap between right arrow and browser's right border */
#TabsToolbar .titlebar-buttonbox-container {
	display: none !important;
}
