/* Background color */
@import "css/variables.css";

@-moz-document url("about:newtab"), url("about:home") {
	/* You can change any setting */
	html {
		height: 100%;
		/* For disabling scrollbar */
		overflow: hidden;
		background: var(--background-first);
		background-image: url(images/firefox.png);
		background-position: center;
		background-size: 200px;
		background-repeat: no-repeat;

	}
	/* If content won't exist, browser will think we at nowhere, */
	/* so shortcuts, handling in body, won't work */
	body {
		visibility: hidden;
	}
}
